
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root{

  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;


  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}
body{
    background-color: #A9A9A9;
    display: flex;
    justify-content: center;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    padding-top:25px;
}

.painel{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    
}
.painel-02{
    width: 700px;
    height: 500px;
    background-color: #4F70E9;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}
.box-background{
    display: flex;
    justify-content: center;
    width: 800px;
    background-color: white;
    border-radius: 20px;
}
/* FORMULARIO */
.sub-title{
    font-size: 9px;
    font-family: -webkit-pictograph;
    color: #A9A9A9;
    margin-top: 50px;
    text-align: center;
}
h4{
    color: #A9A9A9;
    text-align: end;
    font-size: 10px;
}
h1{
   text-align: center;
}
.title{
    height: 10px;
    margin-top: 40px;
    font-family: -webkit-pictograph;
    font-size: 30px;
}
.imagem{
    height: 300px;
    width: 300px;
}
.formm{
    display: grid;
}
.input-name{
    height: 20px;
}
/* */

  

*,::before,::after{
  box-sizing: border-box;
}

h1{
  margin: 0;
}


.l-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  width: 360px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);
}
.form__div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}
.form__button{
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:focus{
  border: 1.5px solid var(--first-color);
}